RewriteEngine On
# Site
RewriteRule    ^issue/([a-zA-Z0-9]+)/?$    publishers/site/index.php?page=issue&issueid=$1    [NC,L]    # Issue page
RewriteRule    ^issues/?$    publishers/site/index.php?page=issues    [NC,L]    # Issues page
RewriteRule    ^issues/([a-zA-Z0-9]+)/?$    publishers/site/index.php?page=issues&pos=$1    [NC,L]    # Issues # page
RewriteRule    ^/?$    publishers/site/index.php?page=home    [NC,L]    # Home page