<html>
	<head>
		<title>%%%name%%% - Wright! Magazine</title>
		%%%=templates/headers.html%%%
		<link rel="stylesheet" href="%%%urlroot%%%fonts/stylesheet.css" type="text/css" charset="utf-8" />
		<script type="text/javascript" src="%%%urlroot%%%js/wright.js?a=1"></script>
	</head>
	<body onload="onload()">
		%%%=templates/headerbar.html%%%
		<div id="banner">
			<div class="image" style="background-image:url('%%%urltapes%%%%%%issueid%%%/screenshots/%%%screenshots.1%%%')"></div>
			<div class="filter"></div>
			<div class="text">
				<h1><a href="#settings">%%%name%%% %%%edition%%%</a></h1>
				<p>%%%genre%%%, &copy; %%%author%%% %%%year%%%</p>
			</div>
		</div>
		<div id="game"></div>
		<div id="body">
			<p>
				<img src="%%%urltapes%%%%%%issueid%%%/screenshots/%%%screenshots.0%%%" class="articleimage">
				%%%description%%%
			</p>
			<p class="small">
				(Want to share something? You can find me <a href="https://twitter.com/KesieV">on Twitter</a>!)
			</p>
			<p class="links">
				<a href="https://www.kesiev.com%%%urlroot%%%webapp/%%%issueid%%%/index.html"><img src="%%%urlroot%%%publishers/site/images/tape.png">Install / Add to home</a>
				<a href="https://github.com/kesiev/Wright/tree/master/tapes/%%%issueid%%%"><img src="%%%urlroot%%%publishers/site/images/github.png">View game sources</a>
				<span>...or play it online below!</span>
			</p>
		</div>
		
		<div id="settingscontainer">
			<div id="settings"></div>
		</div>
		%%%=templates/footerbar.html%%%
	</body>
	<script>
	function onload() {
		runSingleWright('%%%issueid%%%',
			{
				controllerDefaults:{
					PeerJSApiKey:'tlaw8l8f0kiysyvi',
					ChromecastApplicationID:'60B7E7EC',
					ChromecastNamespace:'urn:x-cast:com.kesiev.wright'
				},
				tapesRoot:'%%%urltapes%%%',
				systemRoot:'%%%urlroot%%%system',
				gameContainer:document.getElementById('game'),settingsContainer:document.getElementById('settings'),
				onRun:function(){document.getElementById('body').innerHTML='';}
			}
		);
	}
	</script>
</html>