<html>
	<head>
		<title>Wright! Magazine</title>
		%%%=templates/headers.html%%%
	</head>
	<body>
		%%%=templates/headerbar.html%%%
		<div id="banner" class="main" style="background-image:url('%%%urlsiteroot%%%images/banner.png')">
			<div class="text">
				<div class="logocontainer"><div class="logo">Wright!</div></div>
				<p>The Issues</p>
			</div>
		</div>
		<div id="body">
			<p>
				Wright! Magazine counts %%%count%%% issues: each one contains a short article and a related game. Just choose one of them, read and play!
			</p>
		</div>
		<div id="games">
			%%%list%%%
		</div>
		<div id="pages">
			%%%pages%%%
		</div>
		%%%=templates/footerbar.html%%%
	</body>
</html>